{% extends 'home.html' %}

{% block content %}

<div class="container" style = "padding-top: 100px";>
    <div class="border rounded p-4 wow fadeInUp" data-wow-delay="0.6s" >
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.6s">
            <div class="h-100">
                <div class="d-flex">
                    <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                        <i class="fa fa-times text-white"></i>
                    </div>
                    <div class="ps-3">
                        <h4>About Us</h4>
                        <span>Welcome to Dlux! We are a premier beauty destination dedicated to providing exceptional beauty services and creating a transformative experience for our valued clients.

                           <p> At our parlour, we believe that beauty is more than just appearance—it is a reflection of inner confidence and self-expression. Our team of highly skilled professionals is passionate about bringing out your unique beauty and enhancing your natural features. </p>
                            With years of expertise and a commitment to ongoing training, we stay up-to-date with the latest industry trends and techniques to offer you the best possible services.
                            <p> We pride ourselves on our personalized approach. When you step into our parlour, you'll be greeted by a warm and inviting atmosphere. Our friendly and attentive staff will take the time to understand your individual needs and desires, ensuring that every treatment is customized to suit your preferences.</p>
                            <p>Your satisfaction is our top priority. We are dedicated to providing a seamless and enjoyable experience from start to finish. Whether you're preparing for a special occasion, seeking a routine beauty maintenance service, or simply looking to treat yourself, our team is here to make you feel pampered, relaxed, and confident.</p>
                            <p>Visit our beauty parlour and let us help you embrace your beauty potential. Discover a world of indulgence, rejuvenation, and self-care as we unlock the beauty that lies within you.</p>
                    </div>

                    <div class="border-end d-none d-lg-block"></div>
                </div>
                <div class="border-bottom mt-4 d-block d-lg-none"></div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}