<!DOCTYPE html>
<html>
<head>
    <title>Service Selection</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            // Populate service type dropdown on page load
            getServiceTypes();

            // Populate service type dropdown on service name change
            $('#service-name').change(function() {
                getServiceTypes();
            });
        });

        function getServiceTypes() {
            var service_name_id = $('#service-name').val();
            var service_type_dropdown = $('#service-type');

            $.getJSON('/get-service-types/', {'service_name_id': service_name_id}, function(data) {
                service_type_dropdown.empty();
                $.each(data, function(i, item) {
                    var option = $('<option>', {value: item.service_type, text: item.service_type});
                    if (item.id === service_name_id) {
                        option.prop('selected', true);
                    }
                    service_type_dropdown.append(option);
                });
            });
        }
    </script>
</head>
<body>
    <h1>Service Selection</h1>
    <form>
       
        <select id="service-name">
            <option value="">Select a service</option>
            <option value="haircut">Haircut</option>
            <option value="wax">Wax</option>
            <option value="facial">Facial</option>
            <option value="thread">Threading</option>
            <option value="manicure">Manicure</option>
            <option value="pedicure">Pedicure</option>
            <option value="Hair">Hair Treatment</option>
        </select>
        
        <br>
        <select id="service-type">
        <option value="">Select service type</option>
    </select>
        <script>
            $(document).ready(function() {
                $('#service-name').change(function() {
                    var selectedService = $(this).val();
                    var serviceTypeDropdown = $('#service-type');
                    serviceTypeDropdown.empty();
        
                    if (selectedService === 'haircut') {
                        var option = $('<option>', {value: 'layer-cut', text: 'Layer Cut'});
                        serviceTypeDropdown.append(option);
        
                        option = $('<option>', {value: 'u/v-cut', text: 'U/V Cut'});
                        serviceTypeDropdown.append(option);
        
                        option = $('<option>', {value: 'normal-cut', text: 'Normal Cut'});
                        serviceTypeDropdown.append(option);
                    }
                    else if (selectedService === 'wax') {
                        var option = $('<option>', {value: 'underarms', text: 'Underarms'});
                        serviceTypeDropdown.append(option);
        
                        option = $('<option>', {value: 'legs', text: 'Legs'});
                        serviceTypeDropdown.append(option);
        
                        option = $('<option>', {value: 'hands', text: 'Hands'});
                        serviceTypeDropdown.append(option);
        
                        option = $('<option>', {value: 'complete-body', text: 'Complete Body'});
                        serviceTypeDropdown.append(option);
                    }
                    else if (selectedService === 'facial') {
                        var option = $('<option>', {value: 'clean up', text: 'Clean up'});
                        serviceTypeDropdown.append(option);
        
                        option = $('<option>', {value: 'exfoliating', text: 'Golden'});
                        serviceTypeDropdown.append(option);
        
                        option = $('<option>', {value: 'mask', text: 'Platinum'});
                        serviceTypeDropdown.append(option);

                        option = $('<option>', {value: 'clean', text: 'Fruit'});
                        serviceTypeDropdown.append(option);
                    }
                    
                    else if (selectedService === 'Threading') {
                        var option = $('<option>', {value: 'thread', text: 'No options'});
                        serviceTypeDropdown.append(option);
        
                        
                    }

                    
                    else if (selectedService === 'manicure') {
                        var option = $('<option>', {value: 'manicure', text: 'No options'});
                        serviceTypeDropdown.append(option);
                    }

                    else if (selectedService === 'pedicure') {
                        var option = $('<option>', {value: 'pedicure', text: 'No option'});
                        serviceTypeDropdown.append(option);
                    }
                                        
                    else if (selectedService === 'Hair') {
                        var option = $('<option>', {value: 'smooth', text: 'Smoothening'});
                        serviceTypeDropdown.append(option);
        
                        option = $('<option>', {value: 'straight', text: 'Straightening'});
                        serviceTypeDropdown.append(option);
        
                        option = $('<option>', {value: 'keratin', text: 'Keratin'});
                        serviceTypeDropdown.append(option);

                        option = $('<option>', {value: 'Blow dry', text: 'Blow Dry'});
                        serviceTypeDropdown.append(option);
                    }
                });
            });
        </script>
        




    </form>
</body>
</html>
